@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');

/* Variables */
:root {
    --cafe: rgb(70, 46, 46);
    --cafeTransparente: rgba(70, 46, 46, 0.95);
}


/*Diseños Generales*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 25px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

img {
    width: 20px;
    height: auto;
}

.botonTransparente {
    padding: 15px;
    margin-top: 25px;
    font-size: 17px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: color 0.5s, background-color 0.5s;
}

.botonTransparente:hover {
    transition: all 0.5s;
    color: var(--cafe);
    background-color: white;
}

.botonNegro {
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 17px;
    background-color: var(--cafe);
    color: white;
    transition: color 0.5s, background-color 0.5s;
}

.botonNegro:hover {
    transition: all 0.5s;
    color: var(--cafe);
    background-color: white;
}

/* Diseños especificos */

.medidasMain {
    height: 100vh;
    background-image: url('img/main.webp');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorMain {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 520px;
    text-align: center;
    color: white;
    padding: 30px 40px;
    background-color: var(--cafeTransparente);
}

.menuProductos {
    display: flex;
    margin: auto;
    width: 90%;
    position: relative;
    top: -30px;
    flex-wrap: wrap;
}

.menuProductos>div {
    flex: 1 1 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 30px;
}

.menuProductos img {
    width: 40px;
}

.seccionProductos,
.nuevo {
    width: 90%;
    margin: auto;
}

.seccionProductos .contenedorProductos,
.nuevo .contenedorProductos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.seccionProductos .contenedorProductos img,
.nuevo .contenedorProductos img {
    flex: 1 1 300px;
    width: 275px;
    height: 450px;
    border-radius: 10px;
}

.seccionProductos .contenedorProductos>div .seccionImagen::before {
    content: 'recomendados';
    position: absolute;
    font-size: 13px;
    background-color: var(--cafeTransparente);
    color: white;
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.seccionProductos .contenedorProductos .seccionImagen {
    overflow: hidden;
    width: 275px;
    height: 450px;
}

.seccionProductos .contenedorProductos .seccionImagen p {
    font-size: 17px;
    font-weight: 500;
    margin: 0px;
    padding: 23px 5px;
    text-align: center;
    background-color: rgb(27, 16, 16);
    color: white;
    transform: translateY(0px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 1s;
}

.seccionProductos .contenedorProductos .seccionImagen:hover p {
    cursor: pointer;
    transform: translateY(-70px);
    transition: transform 1s;
}

.seccionProductos .contenedorProductos .texto {
    padding-left: 25px;
}

.texto .nombreProducto {
    font-weight: 500;
    margin-bottom: 0px;
}

.texto .precio {
    margin-top: 5px;
    font-size: 20px;
}

.texto .precio span {
    font-weight: 300;
    font-size: 17px;
}

.informacionGeneral {
    padding: 60px 0px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.informacionGeneral>div {
    flex: 1 1 150px;
}

.informacionGeneral>div:first-child {
    border-right: 1px solid black;
}


.informacionGeneral .textoImagen {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 500px;
    text-align: center;
}

.textoImagen .imagen img {
    margin-top: 30px;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    color: white;
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 92, 88);
}

.NewsletterMenu {
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    gap: 30px;
}

.NewsletterMenu>div {
    flex: 1 1 250px;
}

.newsletter {
    width: 500px;
}

.newsletter form {
    width: 60%;
}

.newsletter .email {
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px 30px;
    background-color: transparent;
}

.newsletter .botonForm {
    margin-top: 20px;
    width: 100px;
    background-color: transparent;
    color: white;
    padding: 5px;
    border: 1px solid white;
    transition: background-color 1s, color 1s;
}

.newsletter .botonForm:hover {
    color: rgb(63, 92, 88);
    background-color: white;
    transition: 1s;
}

.NewsletterMenu .menu h4 {
    font-weight: 500;
}

.NewsletterMenu .menu p {
    font-size: 15px;
    font-weight: 500;
}

footer .informacion {
    width: 90%;
    margin: auto;
    padding: 20px 0px 30px 0px;
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    flex-wrap: wrap;
}

footer .informacion>div {
    flex: 1 1 350px;
}

.informacion h4 {
    font-size: 30px;
}

.informacion .empresa {
    display: flex;
    align-items: center;
    gap: 20px;
}

.informacion .empresa img {
    filter: invert(100%);
    width: 50px;
}

.informacion .direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.informacion .direccion p {
    padding-left: 80px;
    margin: 0px;
    font-size: 15px;
}

.informacion .redes {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-right: 20px;
    filter: invert(100%);
}

/*Responsive*/

@media (min-width: 0px) and (max-width: 991px) {
    .informacionGeneral>div:first-child {
        border-right: 0px solid black;
        border-bottom: 1px solid black;
    }

    .NewsletterMenu {
        display: flex;
        text-align: center;
    }

    .newsletter form {
        margin: auto;
        width: 90%;
    }

    .NewsletterMenu .menu h4 {
        font-weight: 700;
    }

    footer .informacion {
        display: flex;
        gap: 30px;
    }

    footer .informacion .redes {
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .seccionProductos .contenedorProductos .seccionImagen p {
        transform: translateY(-70px);
    }

    .botonTransparente {
        background-color: white;
        color: var(--cafe);
    }

    .botonNegro {
        color: var(--cafe);
        background-color: white;
    }

}